In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('my_data.csv')

In [3]:
df.head()

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1

In [4]:
import string
import re

In [5]:
from nltk.corpus import stopwords
from nltk import word_tokenize,pos_tag
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet as wn
from collections import defaultdict
from tqdm import tqdm

eng_sw=stopwords.words('english')

tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV
  
lemmatizer = WordNetLemmatizer()

In [6]:
temp=[]
for sent in tqdm(df.review.values):
    #punctuation removal
    sent=re.sub('['+string.punctuation+']',' ',sent)
    #tokenize
    tokens=word_tokenize(sent)
    #lower case convertion & POS tagging
    tokens_pos=pos_tag([w.lower() for w in tokens])
    
    #stopwords removal & only words & len(word)>2 & lemmatization
    major_sent=[lemmatizer.lemmatize(w,tag_map[pos[0]]) for w,pos in tokens_pos if( (w not in eng_sw) 
                                                                                   and (w.isalpha()) 
                                                                                   and (len(w)>2))]
    
    temp.append(major_sent)

100%|████████████████████████████████████████████████████████████████████████████| 50000/50000 [21:31<00:00, 38.70it/s]

In [7]:
df_processed=pd.DataFrame({'major_sent':list(map(lambda l:' '.join(l),temp)),'label':df.sentiment.values})
df_processed.to_csv("./logs/processedData.csv",index=False)

In [8]:
df_processed.head()

                                          major_sent  label
0  go saw movie last night coax friend mine admit...      1
1  actor turn director bill paxton follow promisi...      1
2  recreational golfer knowledge sport history pl...      1
3  saw film sneak preview delightful cinematograp...      1
4  bill paxton take true story golf open make fil...      1

In [ ]:
#NICE